!.gitkeep
*.pbxuser
**/.DS_Store
*.xcarchive
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

timeline.xctimeline
playground.xcworkspace
.build/
build/
xcuserdata/
DerivedData/
